#!/usr/bin/perl -w
# $Id: depend.config,v 1.3 2003/03/11 02:33:18 trey Exp $
######################################################################

# this file is an example of multi-host dependency checking

# NOTE: to use this file, printConfigFile.perl must be in the user's path

# example of getting a variable value using arbitrary perl commands
$this_host = `hostname`;
chop $this_host;
$this_host =~ s/\..*$//;

# log_file: the name template is filled in as follows:
#   %n   replaced with process name
#   %u   replaced with a 4-digit number that makes the filename unique

# default setup for all processes, can override below
%d = ( log_file => "/tmp/mrlogs/%n_%u.log", host => $this_host );

# main config setup
$MR_CONFIG =
{
    groups => {
	# dep1 causes a dependency cycle, dep2 doesn't because it
	# specifies to run in parallel
	dep1 => "c a",
	dep2 => "-p c a"
    },

    processes => {
	a => { %d, cmd => "./counter a", env => { COUNTER => "xyz" },
	       ready => ": 2", depends => ["e"] },
	b => { %d, cmd => "touch foo", working_dir => "/tmp" },
	c => { %d, cmd => "bc", log_dir => "/tmp/bc/%n_%u.log",
	       depends => ["a"] },
	# prints a long line (tests continuation functionality)
	d => { %d, cmd => "echo aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" },
	# test not running something because it's specified to run on another host
	e => { %d, cmd => "./counter e", host => "foo", depends => ["b"] }
    }
};

######################################################################
# DO NOT EDIT BELOW THIS POINT

# tell perl to look for printConfigFile.perl in the user's path
@INC = split /:/, $ENV{PATH};
require "printConfigFile.perl";
&print_main($MR_CONFIG);

######################################################################
# $Log: depend.config,v $
# Revision 1.3  2003/03/11 02:33:18  trey
# modified to use new "groups" config option
#
# Revision 1.2  2003/03/11 00:34:37  trey
# added default serial execution when multiple processes are passed with the run command, and -p option to disable serial execution
#
# Revision 1.1  2003/03/10 22:55:22  trey
# added dependency checking
#
# Revision 1.6  2003/03/10 16:53:46  trey
# added ready monitoring
#
# Revision 1.5  2003/03/10 05:35:11  trey
# added get_clock command and ability of daemons to connect to each other
#
# Revision 1.4  2003/03/09 22:29:46  trey
# made log file names unique (changed log_dir to log_file with template patterns), added ability to suppress stdout history lines already received by client
#
# Revision 1.3  2003/02/26 15:48:35  trey
# fixed problem with printConfigFile.perl needing to be in the same dir as the config file
#
# Revision 1.2  2003/02/26 05:08:45  trey
# streamlined config file format
#
# Revision 1.1  2003/02/24 22:09:21  trey
# fixed reading of perl config files
#
#
